@font-face {
  font-family: "iconfont"; /* Project id 4396199 */
  src: url('iconfont.woff2?t=1704353428223') format('woff2'),
       url('iconfont.woff?t=1704353428223') format('woff'),
       url('iconfont.ttf?t=1704353428223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play1:before {
  content: "\e8e8";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-playlist:before {
  content: "\e668";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-music:before {
  content: "\e69f";
}

.icon-radio:before {
  content: "\ea42";
}

.icon-Chat:before {
  content: "\ea94";
}

.icon-compass:before {
  content: "\e680";
}

.icon-search:before {
  content: "\e741";
}

.icon-scan:before {
  content: "\e840";
}

.icon-skin:before {
  content: "\e7c4";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-microphone:before {
  content: "\e65d";
}

